doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/style.css')
    script(src='/js/vendors/react/react.min.js')
    script(src='/js/vendors/jquery/jquery.min.js')
    script(src='/js/vendors/showdown/showdown.js')

  body
    block content
